<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco DIP</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='Imagens/LOGO DIP.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="{{ url_for('index_pagina') }}">
      <img src="{{ url_for('static', filename='Imagens/LOGO DIP.png') }}" alt="Logo Banco DIP">
      Banco DIP
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('index_pagina') }}">Sobre</a></li>
        <li><a href="{{ url_for('index_pagina') }}">Serviços</a></li>
        <li><a href="{{ url_for('index_pagina') }}">Contato</a></li>
        <li><a href="{{ url_for('index_pagina') }}">Ajuda</a></li>
        <li><a href="{{ url_for('login_pagina') }}">Login</a></li>
      </ul>
      <div class="menu-br">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>

<main class="main">
  <div class="container">
    <div class="content">
      <h1>Bem-vindo ao Banco DIP</h1>
      <p>Gerencie sua vida financeira de forma simples e eficiente.</p>
      <div class="transacao">
        <label for="valorTransacao">Digite o Valor da Transação:</label>
        <input type="number" id="valorTransacao" placeholder="Digite o valor...">
        <label for="emailDestinatario">Email do Destinatário (para Transferência):</label>
        <input type="email" id="emailDestinatario" placeholder="Digite o email do destinatário...">
        <div class="botoes-transacao">
          <button id="botaoDeposito">Depósito</button>
          <button id="botaoSaque">Saque</button>
          <button id="botaoTransferencia">Transferência</button>
        </div>
      </div>
      <div class="saldo">
        <h2>Seu Saldo: <span id="saldo">R$ 0.00</span></h2>
      </div>
      <div class="limiteChequeEspecial">
        <h3>Limite de Cheque Especial</h3>
        <p>Máximo: <span id="limiteChequeEspecial">R$ 0.00</span></p>
      </div>
      <div id="resultado"></div>
    </div>
  </div>
</main>

<footer>
  <img src="{{ url_for('static', filename='Imagens/LOGO DIP.png') }}" alt="Logo Banco DIP">
  <p>2024 Banco DIP</p>
</footer>

<script src="{{ url_for('static', filename='js/script-header.js') }}"></script>
<script src="{{ url_for('static', filename='js/transacoes.js') }}"></script>

</body>
</html>
